body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* calculatrice  */
#app{
    width: 400px;
    height: 600px;
}
.row{
    display: flex;
    height: 100px;

}
/* screen  */
input[type="text"]{
    flex: 1;
    border: none;
    outline: none;
    background-color: #2E4C6D;
    color: #FC997C;
    font-size: 1.7em;
    /* 2eme = 27.2px  // 1em = 16px */
    padding: 0 20px;
}
button{
    flex: 1;
    border: none;
    outline: none;
    background-color: #2E4C6D;
    color: #DADDFC;
    font-size: 1.2em;
}
button:hover{
    background-color:#FC997C ;
    cursor: pointer;
    color: black;
}
.zero{
    flex: 2;
}